<!DOCTYPE html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AD Viewer</title>
  <link rel="stylesheet" type="text/css" href="./main.css">
</head>
<body>
  <div class="simulatorContainer">
    <div class="simulatorFullScreen">
      <div class="toolbar">
        <div class="toolbar-button" style="background-color:red;border : 2px solid red;"></div>
        <div class="toolbar-button" style="background-color:yellow;border : 2px solid yellow;"></div>
        <div class="toolbar-button" style="background-color:green;border : 2px solid green;"></div>
      </div>
      <div class="mediaElement" id="mediaElementgallery_wrap_container">
        <video id = "vi" class='vi' autoplay width="100%"></video>
      </div>
    </div>
  </div>
  <div class="list-container">
		<ul>
		</ul>
  </div>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src='./main.js'></script>
</body>